<ul class="nav nav-tabs">
    <li class="active"><a href="#agenda-category-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
</ul>
<div class="panel-body form-body">
    {% form_theme form 'EkynaAdminBundle:Form:form_div_layout.html.twig' %}
    {{ bootstrap_set_style('horizontal') }}
    {{ form_errors(form) }}
    <div class="tab-content">
	    <div class="tab-pane active" id="agenda-category-general">
	        {{ form_row(form.name) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.backgroundColor, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.textColor, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
	    </div>
    </div>
    {{ form_rest(form) }}
</div>